@{
    ViewBag.Title = "Home Page";
}
@*<section class="container-fluid home-cover">
    <div class="row fifth-bg justify-content-center text-center home-cover-layer">
        <div class="col-md-3"></div>
        <div class="col-md-6 pb-5">
            <h1 class="py-4 name fourth-cl">Welcome To Reviewer Website</h1>
            <h4 class="thr-cl" style="font-weight: 700;">here you can earn real money by reviewing out products .</h4>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <button class="btn mx-2 forth-cl my-2 my-sm-0 sec-btn" type="submit">Check Products</button>

        </div>
    </div>
</section>*@

<section class="container bg-light my-5 px-0">
    <div class="row align-items-top">
        <div class="col-md-6">
            <img class="img-fluid" src="~/images/temp3.jpeg">
        </div>
        <div class="col-md-6 pr-4">
            <h2 class="my-5" style="border-bottom :#28a745 2px solid ;font-family: 'Open Sans', sans-serif;">Earn Real Money Now !</h2>
            <h4 style="font-family: 'Roboto', sans-serif;">
                You can earn real money by collecting coins from reviewing our
                products.
            </h4>
            <a href="@Url.Action("Index" , "Products")" class="btn mx-2 mt-5 my-sm-0 btn-outline-success mb-0" type="submit">Check Products</a>
        </div>
        </h4>
</section>

<section style="" class="container-fluid contact-cover">
    <div class="row fifth-bg justify-content-center  contact-cover-layer">
        <div class="col-md-5">
            <form>
                <h2 class="thr-cl" style="font-family: 'Open Sans', sans-serif;">Stay in touch</h2>
                <div class="form-group">
                    <label class="fifth-cl" for="exampleInputEmail1">E-Mail</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label class="fifth-cl" for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="fifth-cl" for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <button type="submit" class="btn sec-btn">Submit</button>
            </form>
        </div>
    </div>
</section>