
@{
    ViewBag.Title = "AddReview";
}


    <section class="container my-5 py-5">

        <div class="row justify-content-center">
            <div class="col-md-6 bg-light py-4">
                <form>
                    <div class="form-group">
                        <label class="font-weight-bold text-primary" for="exampleFormControlTextarea1">Add Review</label>
                        <textarea placeholder="Max 200 words ." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>

    </section>