
@{
    ViewBag.Title = "Reviews";
}



<section class="container ">

    <div class="row  justify-content-center">
        <div class="col-md-8 bg-light my-3 py-4">
            <div class="media">
                <img src="~/images/temp.jpg" width="64" class="m-3 img-fluid rounded" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">
                        <a class="fifth-cl" href="#">
                            Anas Salah
                        </a>
                    </h5>
                    My review is Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                </div>
            </div>
        </div>
    </div>


</section>