
@{
    ViewBag.Title = "Products";
}


<section class="container py-5">
    <h4 class="sec-cl">Category : <span class="main-cl font-italic">phones</span></h4>
    <div class="row">



        <div class="product-card col-md-4 my-5">
            <div class="card" style="width: 18rem;">
                <img src="~/images/temp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">iPhone</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="@Url.Action("index","Reviews")" class="btn sec-btn">View Reviews</a>
                    <a href="@Url.Action("AddReview","Reviews")" class="btn main-btn">Add Review</a>
                </div>
            </div>
        </div>


        





    </div>

</section>